@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    color: #FCA311;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: 700;
}

.container-header{
    background-color: #0D1321;

}

@media (max-width: 615px){
    .titulo{
        font-size: 2.8rem;
        padding: 1.5rem;
    }
}